<?xml version="1.0" encoding="UTF-8" ?>
<taglib version="2.1" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee/web-jsptaglibrary_2_1.xsd">
	<tlib-version>1.0</tlib-version>
	<short-name>ctg3</short-name>
	<uri>customtags3</uri>
	<tag>
		<name>advertisment</name>
		<tag-class>com.epam.advertisments.tags.AdverticmentTag</tag-class>
		<body-content>empty</body-content>
		
		
	</tag>
</taglib>